#改变抖音的IP地址

host,amemv.com, IP
host,ixigua.com, IP
host,ixiguavideo.com, IP
host,pstatp.com, IP
host,snssdk.com, IP
host,toutiao.com, IP
host-keyword,ecombdapi, IP
host-keyword,zjurl, IP
host-keyword,douyinstatic, IP
host-keyword,zijieapi, IP
host-keyword,douyin, IP
host-keyword,douyinvod, IP
host-keyword,zjcdn, IP
host-keyword,douyinpic, IP
host-keyword,toutiao, IP
